* {
  box-sizing: border-box;
  padding: 0; margin: 0;
  background-color: #f0f0f0;
  font-family: 'Consolas', monospace, sans-serif;
  font-size: 1rem;
}

:root {
  --font-size: 1rem;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-width: 100%;
  min-height: 100vh;
}

#var-placer {
  margin-top: 1rem;
  padding: 1.2rem;
  border: 2px solid #0f0f0f;
}

main {
  margin: 1rem 0 .2rem 0;
  display: flex; 
  justify-content: center;
  flex-direction: column;
}

.editor {
  display: flex;
  padding: .4rem;
  padding-bottom: 4rem;
  border: 2px solid #0f0f0f;
}

textarea {
  resize: none;
  border: none;
  padding-left: .4rem;
  margin-left: .2rem;
  font-size: var(--font-size);
  outline: none;
  /* max-height: 38rem; */
  resize: none;
}

.line-numbers span {
  counter-increment: lineNumber;
  text-align: right;
}

.line-numbers span::before {
  content: counter(lineNumber);
  display: block;
  padding: 0 .2rem;
  border-radius: .2rem;
  font-size: var(--font-size);
}

.line-numbers span.executing::before {
  background-color: blue;
}

.line-numbers span.invalid::before {
  background-color: red !important;
}

.line-numbers span:first-of-type::before {
  counter-set: lineNumber 0;
}

.execute {
  display: flex; align-items: center;
  flex-direction: column;
  position: fixed;
  bottom: 6px;
  padding: 2px;
  margin: 2px 0 0 5rem;
  /* background: #f0f0f0; */
}

.execute > * > button {
  pointer-events: all;
  cursor: pointer;
  padding: .6rem;
  margin: 0 2px;
  font-size: 1.2rem;
  border: 2px solid #0f0f0f;
  float: right;
}